version: "7"
services:
  db:
    container_name: project1mysql
    image: mysql:latest
    volumes:
      - pathsdb:/var/lib/mysql
    networks:
      - project1
    environment:
      MYSQL_ROOT_PASSWORD: Password
      MYSQL_DATABASE: project1
      MYSQL_USER: videouser
      MYSQL_PASSWORD: Password
  app:
    container_name: videoapp
    networks:
      - project1
    links:
      - "db"
    image: videostreaming
    ports:
      - "5001:5000"
    depends_on:
      - db
  auth:
    container_name: authentication
    networks:
      - project1
    links:
      - "db"
    image: agraystone/authentication
    ports:
      - "5002:5002"
    depends_on:
      - app
  play:
    container_name: videoplayer
    networks:
      - project1
    links:
      - "db"
    image: videoplayer
    ports:
      - "5003:5003"
    depends_on:
      - auth
volumes:
  pathsdb:
networks:
  project1:
    external: true